@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

header{
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: rgb(163, 193, 137);
}


h1{
    color:rgb(18, 113, 43);
    font-size: 150%;
}

h2{
    font-size: 100%;
}

a{
    color: rgb(73, 128, 28);
    text-decoration: none;
}


a:visited{
    color: rgb(73, 128, 28);
}


a:hover{
    color: rgb(208, 213, 67);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

main{
    padding: 16px;
}

.grid{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90vw;
    gap: 5%;
}


footer{
    padding: 20px;
    position: static;
    background-color: rgb(163, 193, 137);
    font-family: 'Playfair Display', serif;
    color: white;
    margin-top: 40px;
}

img{
    height: 150px;
}

nav{
    color: white;
    border: 16px 16px 1px 16px;

}

tr:nth-child(even){
    background-color: rgb(203, 203, 203);
}
